@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');


body, html {
    font-family: "Poppins";
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #fff;
    --bs-link-color-rgb: #969696;
    --bs-link-hover-color-rgb: #969696;
}
aside {
    margin-top: 20px;
    margin-left: 12px;
    grid-area: 1 / 1 / 2 / 2;
    width: auto;
    color: #969696;
}
aside span {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.main {
    width: 2000px;
    border-radius: 35px;
    background-color: #e2e2e2;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.twitter {
    height: 300px;
    width: 200px;
}

#dashboard {
    font-size: 20px;
}
#user {
    width: 30px;
}
#homedashboard {
    height: 30px;
}
#row {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
}
#welcome {
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
    background: linear-gradient(to right, #514A9D, #24C6DC);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 35px;
    height: 200px;
    width: 800px;
    padding-top: 20px;
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#welcometext {
    color: rgb(255, 187, 0);
    font-weight: 700;
    font-size: 66px;
    padding: 10px;
    padding-top: 36px;
    padding-left: 50px;
    grid-area: 1 / 1 / 2 / 2;
}
#students {
    height: 172.6px;
    width: 200px;
    grid-area: 1 / 2 / 2 / 3; 
}
#graphic1 {
    height: 240px;
    border-radius: 35px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe; 
    margin-top: -40px;
    margin-left: 20px;
    grid-area: 2 / 1 / 3 / 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}
#graphic2 {
    height: 240px;
    border-radius: 35px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe; 
    margin-top: -40px;
    margin-left: 20px;
    grid-area: 2 / 2 / 3 / 3;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}
#progress {
    padding: 15px;
    font-weight: 500;
    font-size: 20px;
}
#progresstext {
    font-size: 30px;
}
#presence {
    padding: 15px;
    font-weight: 500;
    font-size: 20px;
}
#presencetext {
    font-size: 30px;
}
#extra {
    width: 260px;
    height: 480px;
    border-radius: 35px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe;
    margin-left: 20px;
    grid-area: 1 / 3 / 3 / 4;
}
#dashboardtext {
    font-weight: 700;
    color: #339AF0;
}
#unipe {
    width: 200px;
    margin-right: 20px;
}
#cruzeiroDoSul {
    padding: 20px;
    margin-top: 320px;
    width: 200px;
}
.progress-bar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #e2e2e2 79%, transparent 80% 100%),
      conic-gradient(#514A9D 75%, #24C6DC 0);    
  }
@media  (max-width: 1920px) {
    .main {
        height: 860px;
        width: 1700px;
    }
    .twitter-timeline {
        padding: 20px;
        padding-left: 40px;
    }
    .progress-bar {
        width: 300px;
        height: 300px;
        border-radius: 59%;
    }
    #user {
        width: 40px;
    }
    .homedashboard {
        height: 40px;
    }
    #unipe {
        width: 200px;
        margin-right: 20px;
    }
    #dashboard {
        margin-right: 960px;
        font-size: 30px;
    }
    #cruzeiroDoSul {
        padding: 20px;
        margin-top: 400px;
        width: 200px;
    }
    #user {
        margin-right: 10px;
    }
    #welcome {
        width: 1200px;
        height: 300px;
    }
    #welcometext {
        font-size: 100px;
        padding: 10px;
        padding-top: 50px;
        padding-left: 50px;
    }
    #students {
        width: 300px;
        height: 258px;
    }
    #extra {
        width: 440px;
        height: 780px;
    }
    #graphic1 {
        height: 450px;
        margin-top: -80px;
        margin-left: 20px;
    }
    #graphic2 {
        height: 450px;
        margin-top: -80px;
        margin-left: 20px;
    }
    #progress {
        padding: 15px;
        font-weight: 500;
        font-size: 40px;
    }
    #progresstext {
        font-size: 90px;
    }
    #presence {
        padding: 15px;
        font-weight: 500;
        font-size: 40px;
    }
    #presencetext {
        font-size: 90px;
    }
    input {
        accent-color: #339AF0;
    }
    #caaform {
        width: 640px;
        margin-top: 150px;
        margin-left: 530px;
    }
    .field {
        scale: 1.4;
        border-width: 1rem;
        border-radius: 8px;
        border-color: #f0ffff;
        padding: 1rem;
        font-size: 110%;
        color: #339AF0;
        width: auto;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .field input, select, textarea {
        border-radius: 8px;
    }
    aside span {
        padding-top: 10px;
    }
    aside span a {
        padding-top: 8px;
        font-size: 20px;
        text-decoration: none;
    }
    aside span a:visited {
        color: #969696;
    }
}

@media (max-width: 1366px) {
    .main {
        height: 600px;
        width: 1200px;
        margin-left: 70px;
    }
    #unipe {
        width: 150px;
        margin-right: 20px;
    }
    #dashboard {
        margin-right: 470px;
    }
    #cruzeiroDoSul {
        padding: 20px;
        margin-top: 380px;
        margin-left: 25px;
        width: 200px;
    }
    #user {
        margin-right: 10px;
    }
}

@media  (max-width: 1024px) {
    .main {
        height: 450px;
        width: 800px;
        margin-left: 112px;
        margin-right: 112px;
    }
}

.person {
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe;
    height: 340px;
    width: 750px;
    scale: 1.2;
    margin-top: 130px;
    margin-left: 250px;
    border-radius: 30px;
    font-size: 30px;
}

.uids {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    list-style: none;
}

.uids li {
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 20px;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    margin-top: 15px;
}

.person2 {
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe;
    height: 380px;
    width: 750px;
    scale: 1.2;
    margin-top: 130px;
    margin-left: 250px;
    border-radius: 30px;
    display: flex;
}

